* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #636363;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a2ab58, #636363);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a2ab58, #636363); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.form {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#id {
    margin: 10px auto;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #000000;
    height: 2rem;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 2rem;
}

#submit, #vote {
    margin: 10px auto;
    background: transparent;
    border: 1px solid #000000;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 2rem;
    padding: .5rem 1rem;
}

#vote {
    padding: 0;
    width: 200px;
    
    margin: 10px auto;
    display: block;
    text-transform: uppercase;

}

#submit:hover, #vote:hover {
    background: #00000083;
    color: #808E5C;
    cursor: pointer;
}

hr {
    width: 60%;
    margin: 10px auto 0;
    border-bottom: 2px solid #000000;
}
h1 {
    text-align: left;
    font-size: 40px;
    width: 60%;
    margin: auto;
    text-transform: capitalize;
}

#ID{
    text-align: left;
    font-size: 30px;
    width: 60%;
    margin: auto;
    text-transform: capitalize;
}

.container {
    text-align: left;

}

label input {
    opacity:0;
}

label div {
    width: 60%;
    margin: auto;
    border: 1px solid #00000083;
    border-radius: 5px;
}
label input:checked ~ div {
    background-color: #00000083;
}

.name , .canNo{
    /* background-color: #00000083; */
    width: 49%;
    display: inline-block;
    padding: 10px 5px;
    border-radius: 5px 0 0;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid black;
}
.canNo {
    margin: 0 -10px 0 ;
    text-align: right;
    width: 52%;
    padding-right: 15px; 
}

.age, .party {
    display: inline-block;
    width: 49%;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
}

.desc {
    padding: 10px 5px;
    font-weight: 400;
    font-size: 18px;
}

#output {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}